/******font-family******/




/*******font-family ends******/

p,
a,
li,
input,
text-area {
    font-family: Montserrat, sans-serif, Roboto, Lato, Serif;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: .25px;
    line-height: 26px;
    color: #4B4A62;
}

.btn,
.btn:hover {
    font-family: Montserrat, sans-serif, Roboto, Lato, Serif;
    letter-spacing: 0px;
    text-align: center;
    font-weight: 600;
    background: linear-gradient(124.86deg, #8D7FD2 7.75%, #4A4ABD 95.29%);
    box-shadow: 0px 32px 34px 0px rgba(0, 0, 0, 0.2);
    color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Montserrat, sans-serif, Roboto, Lato, Serif;
    margin-bottom: 0 !important;
    letter-spacing: .25px;
    color: rgba(75, 74, 98, 1);
}

h1 {
    font-weight: 700;
    font-size: 44px;
    line-height: 53px;
}

h2 {
    font-weight: 700;
    font-size: 34px;
    line-height: 42px;
}

h3 {
    font-weight: 700;
    font-size: 26px;
    line-height: 32px;
}

h5 {
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
}

h6 {
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
}

a:hover {
    text-decoration: none !important;
}

.btn.focus,
.btn:focus,
input:focus,
textarea:focus {
    outline: 0;
    box-shadow: none !important;
}

.mt_70 {
    margin-top: 70px;
}

.mb_70 {
    margin-bottom: 70px;
}

.m_70 {
    margin: 70px 0px;
}

.align_center {
    align-items: center;
}

html {
    scroll-behavior: smooth;
}

/************************************hover******************************/
/***********************************************************************/



/*******common pages*******/
/*****navbar******/
.custom_navbar .navbar-brand img {
    max-width: 200px;
}

.custom_navbar {
    justify-content: space-between;
    padding: 0;
}

.btn_bgd {
    background: linear-gradient(124.86deg, #8D7FD2 7.75%, #4A4ABD 95.29%);
    color: #fff;
}

.get_startded,
.get_startded:hover {
    box-shadow: 0px 32px 34px 0px rgb(0 0 0 / 20%);
    font-size: 14px;
    line-height: 17px;
    padding: 14px 27px;
    border-radius: 23px;
    color: #fff;
}

.site_btn {
    font-size: 24px;
    line-height: 29px;
    padding: 19px 32px;
    border-radius: 34px;
}

.custom_navbar li.nav-item a {
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    letter-spacing: 0px;
}

.custom_navbar li.nav-item {
    padding: 0 20PX;
}

header {
    background: #F1F0F9;
    padding: 15px 0;
}

/***************************************************/
/******************hero section *******************/

.hero_text {
    padding: 0px 0px 75px 0px;
}

.hero_text h6 {
    max-width: 415px;
}

.hero.section {
    background: #F1F0F9;
    padding: 70px 0;
}

.hero_img {
    position: relative;
}

.hero_img img {
    position: absolute;
    top: -245px;
    max-width: 460px;
    right: 25px;
}

.works_text {
    padding-top: 50px;
}

.works_text h5 {
    max-width: 688px;
    margin: auto;
    padding: 20px 0;
    color: rgba(75, 74, 98, 1);
}

.works_text a {
    color: rgba(141, 127, 210, 1);
    border-bottom: 1px solid rgba(141, 127, 210, 1);
    padding: 10px 0;
}

.works_img img {
    max-width: 1032px;
    margin: auto;
}

div#workslider .owl-nav button.owl-prev {
    position: absolute;
    top: 50%;
    left: 3%;
    color: #8c8c8c;
}

div#workslider .owl-nav button.owl-prev:focus,
div#workslider .owl-nav button.owl-next:focus {
    outline: none;
}

div#workslider .owl-nav button.owl-prev:hover,
div#workslider .owl-nav button.owl-next:hover {
    background: #fff;
    color: #8c8c8c;
    border-radius: 50%;
}

div#workslider .owl-nav {
    margin-top: 0;
}

div#workslider .owl-nav button.owl-next {
    position: absolute;
    top: 50%;
    right: 3%;
    color: #8c8c8c;
}

div#workslider .owl-nav button i,
div#workslider .owl-nav button i:hover {
    padding: 10px 11px 7px 11px;
    border: 1px solid rgba(255, 255, 255, .8);
    border-radius: 50%;
    background-color: rgba(255, 255, 255, .8);
    color: #8c8c8c;
    font-size: 15px;
}

.user_experience {
    background: rgba(44, 41, 69, 1);
    padding: 70px 0;
}

.head_section h2,
.block h3,
.side_block h3 {
    color: #fff;
    padding-bottom: 20px;
}

.head_section h5 {
    padding: 0 30px 70px;
    color: #fff;
}

.block {
    background: rgba(56, 52, 82, 1);
    border-radius: 20px;
    padding: 60px;
    position: relative;
    min-height: 795px;
}

.side_block {
    background: rgba(56, 52, 82, 1);
    border-radius: 20px;
    position: relative;
    min-height: 650px;
}

.block_text {
    padding: 60px;
}

.side_block img {
    max-width: 515px;
    width: 100%;
}

.soft img {
    border-top-left-radius: 23px;
    border-bottom-right-radius: 23px;
}

.block p,
.side_block p {
    color: #fff;
}

.team_player {
    display: flex;
    justify-content: center;
    max-width: 1115px;
    margin: 80px auto;
}

.team_image img {
    max-width: 230px;
}

.why_us {
    background: rgba(241, 240, 249, 1);
    padding: 120px 0px;
}

.head_text {
    max-width: 700px;
    margin: 0 auto 120px;
}

.why_block {
    display: flex;
}

.why_text p {
    min-height: 130px;
    padding-right: 50px;
}

.icon {
    min-width: 50px;
    max-width: 50px;
    background: #fff;
    border-radius: 50%;
    height: 50px;
    box-shadow: 0px 12px 34px 0px rgb(0 0 0 / 10%);
    font-size: 20px;
    color: #8D80D1;
}

.dollar {
    padding: 10px 0px 0px 20px;
}

.heart {
    padding: 11px 0px 0px 15px;
}

.bulb {
    padding: 10px 0px 0px 18px;
}

.people {
    padding: 10px 0px 0px 13px;
}

.sharp {
    padding: 100px 0;
}

.sharp .sharp_text p {
    padding-right: 15px;
}

.newsl_block {
    background: rgba(125, 74, 190, 1);
    padding: 60px 50px;
    border-radius: 40px;
    position: relative;
}

.newsl_block img {
    position: absolute;
    top: -240px;
    right: -30px;
    max-width: 500px;
}

.news_text h1 {
    color: #fff;
}

.news_text p {
    color: #fff;
    max-width: 500px;
    margin: 20px 0 !important;
}

.news_form input {
    background: rgba(216, 216, 216, .2);
    border-radius: 33.5px;
    padding: 28px 30px;
    color: #fff;
    border: none;
}

.news_btn,
.news_btn:hover {
    background: #fff;
    padding: 15px 54px;
    color: rgba(125, 74, 190, 1);
    border-radius: 33.5px;
    font-weight: 400;
    box-shadow: none;
}

.news_text {
    margin-bottom: 40px;
}

footer {
    margin: 100px 0 50px 0;
}

.footer_block .logo img {
    width: 200px;
}

.footer_block p {
    font-size: 13px;
    max-width: 410px;
}

.custom_footerlist li {
    list-style: none;
}

.custom_footerlist li a {
    font-size: 13px;
    line-height: 30px;
}

.social2 {
    padding: 0;
}

.social2 img {
    width: 20px;
}

.social2 img:last-child {
    margin: 0 !important;
}

.social2 a img:hover {
    filter: invert(1);
    transform: scale(1.15);
    transition: all 0.5s ease;
}

a.load-more__btn {
    letter-spacing: 0px;
    text-align: center;
    font-weight: 600;
    background: linear-gradient(124.86deg, #8D7FD2 7.75%, #4A4ABD 95.29%);
    box-shadow: 0px 32px 34px 0px rgb(0 0 0 / 20%);
    color: #fff;
    padding: 20px 30px 20px 30px;
    border-radius: 33.5px 33.5px 33.5px 33.5px;
    font-size: 18px;
    max-width: 160px;
    width: 100%;
    margin: 25px auto 65px;
    grid-column: span 3;

}

.partners_main_box {
    display: grid;
    grid-template-columns: repeat(4, 25%);
    row-gap: 35px;
    align-items: center;
}

.pt1 img {
    filter: grayscale(1);
    max-width: 150px;
}

.pt1 {
    text-align: center;
}

.reviews {
    padding: 70px 0 0;
}

.blog {
    padding: 80px 0 50px;
}

.blog_row {
    align-items: center;
}

.blogtext h3 {
    margin-bottom: 15px !important;
}

.bloglink a {
    font-size: 18px;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: 0px;
    color: #8D7FD2;
    text-decoration: underline;
}

.blogimage {
    border-right: 1px solid #F1F0F9;
    margin-right: 25px;
}